.bandeja-acciones-columna {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bandeja-acciones-tooltip {
    width: 400px;
    max-width: unset;
    padding: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px #00000080;   

    @media (max-width: 400px) {
        width: 200px;
    }
}

.bandeja-acciones-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    padding: 10px 4px;
    background-color: #FFFFFF;
    color: #6D6D6D;

    .bac-info {
        font-family: 'Roboto-Bold';
        font-size: 12px;

        @media (max-width: 400px) {
            font-size: 9px;
        }
    }

    .bac-acciones {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 10px;
        padding: 10px;
        background-color: #e7eef1;
    }
}

.bandeja-acciones-accion {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    align-items: center;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 6px;

    .baa-title {
        font-family: 'Roboto-Light';
        font-size: 13px;
        padding: 1px 0px 1px 15px;
        border-left: 1px solid #cecdcd;

        @media (max-width: 400px) {
            font-size: 9px;
        }
    }

}

.icono_acciones{
    color: #139CE5 !important
  }