.contenedor_busqueda_sustitutos {
  display: grid;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100vw;
  border-radius: 5px;
}
.contenedor_sustitutos {
  padding: 20px 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 4px #00000029;
  opacity: 1;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}

.box_busqueda_sustitutos {
  background: var(---ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 4px #00000029;
  border-radius: 5px;
  opacity: 1;
  padding: 30px;
  min-height: 470px;
}

.box_busqueda_sustituir {
  background: white;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0px 3px 4px #00000029;
  border-radius: 5px;
  opacity: 1;
  padding: 30px;
  min-height: 500px;
}

.fuente_titulo_box_sustitutos {
  font-family: "Roboto-Medium";
  color: #333333;
  font-size: 22px;
}

.fuente_datos_aspirante_header {
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: #333333;
}

.fuente_datos_aspirante_contenido {
  font-family: "Roboto-Light";
  font-size: 16px;
  color: #333333;
}

.fuente_header_treeselect {
  color: #494949;
  font-family: "Roboto";
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contenedor_informacion_sustituto {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
}

.contenedor_info_sustituto {
  margin-top: 15px;
  padding: 10px;
}

.contenedor_datos_sustituto {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  row-gap: 30px;
}

.ant-select-tree-title {
  font-size: 14px;
}

.ant-select-tree-node-content-wrapper:hover {
  background-color: #f5f5f5; /* Cambiar color al pasar el mouse */
}

.ant-select-tree .highlight {
  color: red; /* Resaltar texto en rojo */
  font-weight: bold;
}
