.select-header-geo{
	background-color: #333333;
	display: flex;
	padding: 0 20px;
	padding-bottom: 1px;
	height: 51px;

	.anticon svg {
		color: #FFFFFF;
	}

	@media (max-width: 1400px) {
		height: auto;
	}

	@media (max-width: 1160px) {
		display: block;
	}
}

.item-select-geo{
	display: flex;
	width: 33%;
	margin-bottom: 10px;

	@media (max-width: 1160px) {
		width: 70%;
	}

	.ant-form-item{
		width: 100%;
	}
	.ant-select-selector{
		background-color: #333333 !important;
		border: 1px solid #FFF;
		border-radius: 3px;
	}
	.ant-select-selection-placeholder{
		color: #FFFFFF;
		font-family: 'Roboto-Regular';
		font-size: 13px;
	}
	.ant-select-selection-item{
		color: #FFFFFF !important;
		font-family: 'Roboto-Regular';
		font-size: 13px;
	}

}

.item-select-geo-minus{
	display: flex;
	width: 20%;
	margin-bottom: 10px;

	@media (max-width: 1160px) {
		width: 70%;
	}

	.ant-form-item{
		width: 100%;
	}
	.ant-select-selector{
		background-color: #333333 !important;
		border: 1px solid #FFF;
		border-radius: 3px;
	}
	.ant-select-selection-placeholder{
		color: #FFFFFF;
		font-family: 'Roboto-Regular';
		font-size: 13px;
	}
	.ant-select-selection-item{
		color: #FFFFFF !important;
		font-family: 'Roboto-Regular';
		font-size: 13px;
	}

}

.item-selected-geo{
	display: flex;
	width: auto;
	margin-bottom: 10px;
}

.span-select-geo{
	margin-top: 14px;
	padding-right: 10px;
	color: #FFFFFF;
	font-family: 'Roboto-Regular';
	font-size: 15px;

}

.div-separator-geo{
	border: 1px solid #FFF;
	margin: 10px 10px 0 10px;

	@media (max-width: 1160px) {
		display: none;
	}
}
