.span_Header_Light {
  color: #8f8f8f;
  text-align: left;
  font-family: "Roboto-Light";
  letter-spacing: 0px;
  opacity: 1;
}

.cotas {
  color: gray !important;
  display: inline-block !important;
  padding: 4px 8px !important;
  border-radius: 4px !important;
}

.span_Header_Medium {
  color: #333333;
  text-align: left;
  font-family: "Roboto";
  letter-spacing: 0px;
  opacity: 1;
}

.div_publ_title {
  font-family: "Roboto-Regular";
  text-align: left;
  font-size: 30px;
  letter-spacing: 0px;
  opacity: 1;
  margin-top: 25px;
  margin-bottom: 30px;
}

.div_selecc_tipoRepo {
  font-family: "Roboto-Regular";
  font-size: 16px;
  margin-bottom: 3px;
}

.div_selecc_niveles {
  font-family: "Roboto-Regular";
  font-size: 16px;
  margin-bottom: 3px;
}

.publicador-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px 24px;
  box-shadow: 3px 3px 4px #00000029;
  opacity: 1;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 10px;
  padding: 1px 1px 30px 10px;

  @media (max-width: 600px) {
    padding: 10px 20px 30px 20px;
  }

  .pc-module-data {
    display: block;
    grid-template-columns: 220px minmax(0, 1fr);
    grid-template-rows: 1fr;
    column-gap: 19px;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 10px;
    }
  }
}

.gen-module-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 10px;
  padding: 12px 50px 30px 50px;

  @media (max-width: 600px) {
    padding: 10px 20px 30px 20px;
  }

  .gen-module-data {
    display: grid;
    grid-template-columns: 220px minmax(0, 1fr);
    grid-template-rows: 1fr;
    column-gap: 19px;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 10px;
    }
  }
}

.publicador-header-container {
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 40px;
  row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .phc-text {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 13px;
    justify-content: space-between;

    .phc-text-title {
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 25px;
      align-items: center;

      .phc-text-title-menu {
        font-family: "Roboto-Regular";
        font-size: 30px;
        color: #333333;
      }

      .phc-text-title-reporte {
        font-family: "Roboto-Light";
        font-size: 24px;
        color: #333333;
        padding: 1px 0px 1px 25px;
        border-left: 1px solid #333333;
      }
    }

    .phc-text-corte {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 9px;

      .phc-text-corte-label {
        font-family: "Roboto-Bold";
        font-size: 13px;
        color: #333333;
      }

      .phc-text-corte-value {
        font-family: "Roboto-Light";
        font-size: 13px;
        color: #333333;
      }
    }
  }
}

.publicador-filtros-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: flex-end;
  column-gap: 60px;
  row-gap: 5px;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .pfc-combo-reportes {
    .ant-select {
      width: auto;
      min-width: 500px;
      max-width: 600px;
    }

    .ant-select .ant-select-selector {
      width: auto;
      min-width: 500px;
      max-width: 600px;
    }
  }

  .pfc-combo-niveles {
    .ant-select {
      width: auto;
      min-width: 400px;
      max-width: 400px;
    }

    .ant-select .ant-select-selector {
      width: auto;
      min-width: 400px;
      max-width: 400px;
    }
  }

  .ant-select-focused .ant-select-selector,
  .ant-select-selector:focus,
  .ant-select-selector:active,
  .ant-select-selector:hover,
  .ant-select-open .ant-select-selector {
    border: 0.5px solid #929292 !important;
    box-shadow: none !important;
  }

  .anticon svg {
    color: #333333;
  }
}

.publicador-reporte-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #ffffff;
  padding: 21px 25px;
  row-gap: 9px;

  .rc-regresar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    column-gap: 5px;
    width: fit-content;
    background-color: #ffffff;
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #aaa7aa;
    border: none;

    &:hover {
      color: #d4007f;

      .anticon svg {
        color: #d4007f;
      }
    }

    .anticon svg {
      color: #aaa7aa;
    }
  }

  .rc-reporte {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 3px;

    .rc-reporte-title {
      font-family: "Roboto-Bold";
      font-size: 24px;
      color: #333333;

      @media (max-width: 380px) {
        font-size: 15px;
      }
    }

    .rc-reporte-nivel {
      font-family: "Roboto-Light";
      font-size: 20px;
      color: #333333;

      @media (max-width: 380px) {
        font-size: 10px;
      }
    }
  }

  .rc-error {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 50px;
    justify-items: stretch;

    @media (max-width: 700px) {
      padding: 10px;
    }

    .rc-error-msg {
      font-family: "Roboto-Light";
      font-size: 13px;
      color: #333333;
      text-align: center;
      background-color: #e6f8f8;
      padding: 7px 7px;
    }
  }
}

.publicador-exportar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 24px;
  align-items: center;
  align-self: flex-end;
  margin: 12px 0px;

  .pec-option {
    .pec-option-label {
      font-family: "Roboto-Regular";
      text-decoration: underline;
      font-size: 15px;
      color: #d5097f;
    }

    .anticon svg {
      color: #d5097f;
    }

    &:hover {
      cursor: pointer;

      .pec-option-label {
        color: #aaa7aa;
      }

      .anticon svg {
        color: #aaa7aa;
      }
    }
  }
}

.publicador-tabla-filtro-texto {
  padding: 10px;

  .publicador-tabla-filtro-texto-input {
    font-family: "Roboto-Light";
    font-size: 12px;
    display: block;
    margin-bottom: 8px;
  }

  .publicador-tabla-filtro-texto-button-inverted {
    width: 90px;
    font-family: "Roboto-Light";
    font-size: 12px;
    color: #ffffff;
    background-color: #aaa7aa;
  }

  .publicador-tabla-filtro-texto-button {
    font-family: "Roboto-Light";
    font-size: 12px;
    width: 90px;
  }
}

.publicador-cotas-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 3;
  top: 228px;
  right: 0px;

  .pcc-icon {
    width: 40px;
    height: 40px;
    background-color: #d5007f;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px 0px 0px 6px;

    .anticon svg {
      width: 20px;
      height: 20px;
      color: #ffffff;
    }
  }

  .pcc-data {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 8px;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #00000059;

    .pcc-data-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 3px;
      justify-items: flex-start;
      align-items: center;

      .pcc-data-title-text {
        font-family: "Roboto-Bold";
        font-size: 18px;
        color: #d5007f;
      }

      .anticon svg {
        width: 20px;
        height: 20px;
        color: #d5007f;
      }
    }

    .pcc-data-group {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 5px;
      padding-left: 20px;

      .pcc-data-group-title {
        font-family: "Roboto-Bold";
        font-size: 11px;
        color: #333333;
        padding-top: 8px;
      }

      .pcc-data-group-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 5px;
        font-family: "Roboto-Regular";
        font-size: 9px;
        color: #6d6d6d;
      }
    }
  }
}

#publicador-tabla .ant-table-thead tr th {
  font-family: "Roboto-Bold";
  font-size: 14px;
  text-align: center !important;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e1e7;
  color: #6d6d6d;

  @media (max-width: 380px) {
    font-size: 10px;
  }

  .anticon svg {
    width: 12px;
    height: 12px;
    color: #6d6d6d;
  }
}

#publicador-tabla
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: #ffffff;
}

#publicador-tabla .ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 2px 4px;
}

#publicador-tabla .ant-table-filter-column-title {
  padding: 0px 5px;
}

#publicador-tabla .table-row {
  font-family: "Roboto-Regular" !important;
  font-size: 14px !important;
  color: #6d6d6d !important;

  @media (max-width: 380px) {
    font-size: 9px !important;
  }
}

#publicador-tabla .table-total {
  font-family: "Roboto-Bold" !important;
  font-size: 14px !important;
  color: #ffffff !important;
  background-color: #d5097f !important;

  @media (max-width: 380px) {
    font-size: 9px !important;
  }
}

#publicador-tabla .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: unset;
}

.column-blanco {
  background-color: #ffffff !important;
  color: #333333;
}

.column-rosa1 {
  background-color: #fbedf6 !important;
  color: #333333;
}

.column-rosa2 {
  background-color: #ed92c8 !important;
  color: #333333;
}

.column-rosa3 {
  background-color: #f9dbed !important;
  color: #333333;
}

.span_cotas_tipos b {
  font-weight: bold;
  font-family: "Roboto-Bold", "Roboto-Medium", sans-serif;
}

.span_cotas_tipos {
  text-align: left;
  font-family: "Roboto-Medium";
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  font-size: 16px;
}

.span_cuadro1 {
  display: inline-block;
  width: 70px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.div_cotas_tipos-container {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  @media (max-width: 1200px) {
    margin-top: 10px;
  }
}

.span_cotas_motivo {
  text-align: left;
  font-family: "Roboto-Regular";
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  font-size: 15px;
  display: block;
}

.rc-cotas-leyenda span {
  color: #7a4aa8;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.rc-cotas-leyenda span::before {
  color: #e6d4fa;
  margin-right: 6px;
  font-size: 16px;
}

.geografico {
  width: 100%;
  justify-items: center;
  padding: 5px 15px 5px 0px;
}
.geografico > div {
  display: flex;
  width: 100%;
}
.geografico {
  .ant-select {
    width: 100%;
  }
  .ant-form-item {
    width: 100%;
  }
}
