:root {
  --color-gris-oscuro: #333333;
  --color-magenta: #d5007f;
  --color-gris-medio: v#494949;
  --color-info: #7a4aa8;
  --color-bg-info: #e6d4fa;
  --color-bg-requerido: #e6f8f8;
  --color-warning: #fcd247;
  --color-error: #fce1eb;
}

.span-miga-light {
  color: var(--color-gris-oscuro);
  font-family: "Roboto-Light", sans-serif;
  font-size: 15px;
}

.span-miga-medium {
  color: var(--color-gris-oscuro);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 15px;
}

.span-title-modulo {
  color: var(--color-gris-oscuro);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
}

.align-boleta-header {
  vertical-align: top;
  padding-top: 8px;
}

.align-pleca-etapa {
  display: flex;
  justify-content: flex-end;
}

.bar-requerido {
  display: flex;
  justify-content: center;

  background-color: var(--color-bg-requerido);
  border-radius: 5px;
  width: 100%;
  height: 30px;
  padding-top: 5px;
}

.span-requerido {
  color: var(--color-gris-medio);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
}

.modal-loader {
  width: 300px !important;

  .ant-modal-content {
    background-color: transparent !important;
    box-shadow: none;
  }
}

.star-requerido::before {
  display: inline;
  color: var(--color-magenta);
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1;
  content: "*";
  vertical-align: top;
}

.div-load-foto {
  display: flex;
  justify-content: center;
}
.div-elim-foto {
  display: flex;
  justify-content: center;

  width: 18px;
  height: 180px;
  align-items: center;
}

.img-load-foto {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.ant-upload-list {
  display: none;
}

.button-load-foto {
  background-color: transparent;
  border: 1px solid var(--color-gris-oscuro);
  border-radius: 5px;
  color: var(--color-gris-oscuro);
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  width: 148px;
  padding-bottom: 0px;
}
.button-load-foto:hover {
  background-color: transparent;
  border: 1px solid var(--color-magenta) !important;
  border-radius: 5px;
  color: var(--color-gris-oscuro) !important;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  width: 150px;
}
.button-load-foto:focus {
  background-color: transparent;
  border: 1px solid var(--color-gris-oscuro);
  border-radius: 5px;
  color: var(--color-gris-oscuro);
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  width: 148px;
}

#divUploadFoto {
  margin-top: 10px;
  text-align: center;
}

#divUploadFoto .ant-btn > span {
  margin: 0 auto 0;
  margin: 0px;
}

.modal-util-opc {
  width: 400px !important;
}
.modal-util-opc .ant-modal-content,
.ant-modal-header {
  border-radius: 10px !important;
}
.modal-util-opc .ant-modal-body {
  padding: 15px;
}

.icono_antd_warn {
  color: #f1c40f;
  size: 14px;
  font-size: 50px;
}

.icono_antd_succ {
  color: #60bc56;
  size: 14px;
  font-size: 50px;
}

.icono_antd_quest {
  color: var(--color-magenta);
  size: 14px;
  font-size: 50px;
}

.icono_antd_ok {
  color: #4cc04c;
  size: 14px;
  font-size: 50px;
}

.divCenterUtil {
  text-align: center;
  align-items: center;
}

.msj-modal-gen {
  color: var(--color-gris-oscuro);
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
}

.div-msj-foto {
  justify-content: center;
  text-align: center;
}

.span-sin-foto {
  color: #d7427f;
  font-size: 18px;
  font-family: "Roboto-Medium", sans-serif;
  margin-top: 2px;
  margin-bottom: -10px;
}

.pop-img-foto {
  background-color: #fff;
  border: 1px solid var(--color-gris-oscuro);
  border-radius: 5px;
  color: var(--color-gris-oscuro);
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  width: 30px;
  height: 30px;
  padding: 0px;
  opacity: 0.75;
}
.pop-img-foto:hover {
  background-color: #fff;
  border: 1px solid var(--color-magenta) !important;
  border-radius: 5px;
  color: var(--color-gris-oscuro) !important;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  width: 30px;
  height: 30px;
  padding: 10px;
  opacity: 0.75;
}
.pop-img-foto:focus {
  background-color: #fff;
  border: 1px solid var(--color-gris-oscuro);
  border-radius: 5px;
  color: var(--color-gris-oscuro);
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  width: 30px;
  height: 30px;
  padding: 10px;
  opacity: 0.75;
}

.span-header-seccion {
  color: var(--color-gris-oscuro);
  font-size: 22px;
  font-family: "Roboto-Medium", sans-serif;
}

.icon-header-seccion {
  color: var(--color-magenta);
  font-size: 20px;
}

.div-bar-info {
  margin-top: 2px;
  margin-bottom: 18px;
  display: flex;
  background-color: var(--color-bg-info);
  min-height: 30px;
  width: fit-content;
  border-radius: 20px;
  padding: 2px 10px 0px 10px;
}

.div-span-bar-info {
  padding-top: 1px;
  padding-left: 5px;
}

.span-bar-info {
  color: var(--color-info);
  font-size: 16px;
  font-family: "Roboto-Regular", sans-serif;
}

.div-bar-warn {
  margin-bottom: 18px;
  display: flex;
  background-color: var(--color-warning);
  min-height: 30px;
  width: fit-content;
  border-radius: 20px;
  padding: 2px 10px 0px 10px;
}

.span-bar-warn {
  color: var(--color-gris-oscuro);
  font-size: 16px;
  font-family: "Roboto-Regular", sans-serif;
}

.span-info-gen {
  color: var(--color-gris-oscuro);
  font-size: 16px;
  font-family: "Roboto-Medium", sans-serif;
}

.span-data-gen {
  color: var(--color-gris-oscuro);
  font-size: 16px;
  font-family: "Roboto-Light", sans-serif;
}

.tituloDivisorCombo {
  top: 509px !important;
  left: 90px !important;
  width: 118px !important;
  height: 19px !important;
  text-align: left !important;
  font-family: "Roboto-Regular", sans-serif !important;
  font-size: 16px !important;
  letter-spacing: 0px !important;
  color: var(--color-gris-oscuro) !important;
  opacity: 1 !important;
}

.ant-select-item-option-content {
  top: 505px;
  left: 90px;
  width: 236px;
  height: 19px;
  text-align: left;
  font-family: "Roboto-Light", sans-serif !important;
  font-size: 16px !important;
  letter-spacing: 0px;
  color: var(--color-gris-oscuro);
  opacity: 1;
}

.area-obs-gen {
  color: var(--color-gris-oscuro);
  font-size: 16px;
  font-family: "Roboto-Light", sans-serif;
}

.div-bar-error {
  margin-bottom: 18px;
  display: flex;
  background-color: var(--color-error);
  min-height: 30px;
  width: fit-content;
  border-radius: 20px;
  padding: 2px 10px 0px 10px;
}

.span-bar-error {
  color: var(--color-magenta);
  font-size: 16px;
  font-family: "Roboto-Regular", sans-serif;
}

.div-span-bar-error {
  padding-top: 3px;
  padding-left: 5px;
}
